@page
@model SinusSkateboards.UI.Pages.LoginModel
@{
}

<form method="post">
    <span class="text-danger" asp-validation-for="@Model.Username"></span>
    <br />
    <span class="text-danger" asp-validation-for="@Model.Password"></span>
    <br />
    <label for="username">Username:</label>
    <input id="username" type="text" asp-for="@Model.Username" />
    <label for="password">Password:</label>
    <input id="password" type="password" asp-for="@Model.Password" />
    <button class="btn btn-success">Login</button>
</form>